nav {
  background-color: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-bottom: 1px solid lightgray;
}

#logo-wrapper {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
}

#logo {
  height: 40px;
  margin: 8px;
  display: inline;
}

#logo:hover {
  cursor: pointer;
}

#home {
  color: blue;
  display: inline;
}

#home:hover {
  color: purple;
  cursor: pointer;
}
